.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #703B09;
    display: flex;  /* default position is row */
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /*0 from top and bottom, 20px from left and right*/
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}